# Ex2 - Data Science Tools and Ecosystem

Ex3 - In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Data Science tools
- Data Science languages
- APIs, Data

Ex4 - Some of the popular languages that Data Scientists use are:

1. Python
2. RStudio
3. Julia

Ex5 - Some of the commonly used libraries used by Data Scientists include:

1. Panda
2. Numby 
3. TeserFlows

Ex6 - 

| Data Science Tools |
| -------------|
| Python |
| RStudio |
| Julia |

Ex7 - Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# Ex8

(3*4)+5

17

In [5]:
# Ex9

# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
Zaher